<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render :partial => 'shim' %>
  </head>
  <body>
    <%= render :partial => 'header' %>
    <div class="container">
      <%= yield %>
      <%= render :partial => 'footer' %>
    </div>
  </body>
=======
<head>
  <title>SampleApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
>>>>>>> 9c1ee4162bbcef5ce429d77b672d18309f59be2f
</html>
